
@{
    ViewBag.Title = "История закупок";
}

<h2></h2>

@Html.ActionLink("История закупок по ламинации", "HistViewCostLamin")<br />
@Html.ActionLink("История закупок по бумаги", "HistViewCostPages")<br />