@model calculator.Models.MyViewModel.SendDoubleCost
@{
    ViewBag.Title = "Создать новую закупку бумаги";
}
<h2>Создать новую закупку бумаги</h2>
@using (Html.BeginForm("HistCreateCostPages"))
{
    <p>
        Формат
        @Html.DropDownList("IdFormatProduct", ViewBag.FormatProduct as SelectList)
    </p>
    <p>
        Тип бумаги
        <input type="text" id="TypePap" name="TypePap" value="Офсет" />
    </p>
    <p>
        Плотность бумаги
        <input type="number" id="DensPap" name="DensPap" min="20" value="20" />
    </p>
    <p>
        Количество
         <input type="number" id="quantity" name="quantity" min="1" value="100" />
    </p>
    <p>
        Стоимость
        @Html.EditorFor(model => model.cost)
        @Html.ValidationMessageFor(model => model.cost)

    </p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>
}
