@model IEnumerable<calculator.Models.DensityLamin>

<select id="laminVisits" name="DensityLamin" class="pole">
    @foreach (var item in Model)
    {
        <option value="@item.IdLam">@item.DensityLam</option>
    }
</select>
