@model IEnumerable<calculator.Models.TypePaper>

    <select id="typePaper" name="TypePaper" class="pole">
    @foreach (var item in Model)
    {
        <option value="@item.IdTypePapers">@item.Name</option>
    }
</select>

